@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

@font-face {
  font-family: anurati;
  src: url(./assets/font/Anurati-Regular.otf);
}

:root {
  --black: #070928;
  --blue: #3456FF;
  --offwhite: #F8F8FA;
  --white: #FFFFFF;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  width:100%;
  height:100%;
  font-size: 1.5rem;
  background: var(--offwhite);
  overflow-x: hidden;
}

.nav {
  height: 4.5rem;
  padding: 10px 10px;
  background: var(--blue);
  color: var(--white);
  font-family: anurati;
  font-weight: bold;
  font-size: 2.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

section {
  display: grid;
  margin: 2rem 0rem;
  grid-template-columns: 1fr 1fr;
  row-gap: 2rem;
  justify-items: center;
}

.profile {
  min-height: 22rem;
  width: 17rem;
  padding: 15px 0px;
  background: var(--white);
  border-radius: 4px;
  display: grid;
  row-gap: .5rem;
  justify-items: center;
  text-align: center;
  font-family: Montserrat;
  letter-spacing: 1px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.profile img {
  width: 65%;
  border-radius: 50%;
  border: 5px solid #E4E4E4;
}

.profile a {
  position: relative;
  width: 55%;
  height: 3rem;
  font-family: nidsans;
  font-weight: bold;
  background: var(--white);
  border: 0.2rem solid var(--blue);
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--black);
}

.profile a:hover {
  background: var(--blue);
  color: var(--white);
}